streamlit==1.38.0
pandas==2.0.3
pydeck==0.9.1
openpyxl==3.1.5
requests==2.32.3
plotly==5.24.1
pillow==10.4.0
torch==2.2.2
torchvision==0.17.2
transformers==4.41.2
numpy==1.24.4
jieba==0.42.1
beautifulsoup4==4.12.3
folium==0.17.0
streamlit-folium==0.22.1
markitdown==0.0.1a3
selenium==4.25.0
webdriver-manager==4.0.2
mammoth==1.8.0
python-docx==1.1.2
lxml==5.3.0
pdfminer.six==20240706
pypdf==5.0.1
pymupdf==1.24.11
python-dotenv==1.0.1
PyYAML==6.0.2
pytest==8.3.3
ruff==0.6.9
pre-commit==3.8.0
